<section class = 'card'>
    <label for="comment"></label>
    <form action="/comment" method='post'>
        <textarea name="comment" id="comment" cols="30" rows="10">Leave a comment!</textarea>
    </form>
</section> 
<script src='/js/comment.js'></script>